<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Cover</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Sheridan Currency.</h1>
        <p class="lead">

        <%= form_tag('/create', method: 'post') do %>
          <%= label_tag(:amount, "Amount: $") %>
          <%= number_field_tag(:amount) %>

          <p>
            <label>FROM: </label>
            <%= select_tag "currency_from", options_for_select(["USD", "EUR", "SGD"], "USD") %>
          </p>
          <p>
            <label>TO: </label>
            <%= select_tag "currency_to", options_for_select(["USD", "EUR", "SGD"], "EUR") %>
          </p>


          <%= submit_tag("Convert", class: "btn btn-lg btn-secondary") %>
        <% end %>

          <br/>
          <label>OUTPUT: <%= @amount || 0 %> </label>
          <h1 className="output"></h1>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>

</body>
